<div class="container">
  <div class="actions">
    <button (click)="handleClickUpdatePlaygroundValue()">
      Update input - playground
    </button>
    <button (click)="handleClickUpdateNgContentValue()">
      Update input - NgContent
    </button>
    <button (click)="handleClickUpdateAnotherPlaygroundValue()">
      Update input - AnotherPlayground
    </button>
  </div>

  <div class="playground-container">
    <div class="sub-container">
      <app-playground [valueFromInput]="valuePassIntoPlayground">
        <app-contentplayground
          [valueFromInput]="valuePassIntoNgContent"
        ></app-contentplayground>
      </app-playground>
    </div>
    <div class="sub-container">
      <h2>Another Playground</h2>
      <app-anotherplayground
        [valueFromInput]="valuePassIntoAnotherPlayground"
      ></app-anotherplayground>
    </div>

    <div class="sub-container">
      <h2>OnPush Playground</h2>
      <app-onpushplayground
        [valueFromInput]="valuePassIntoOnPushPlayground"
      ></app-onpushplayground>
    </div>
  </div>
</div>
